In [29]:
import pandas as pd
import numpy as np

In [64]:
# create a fake dataset

data = np.random.randint(0, 100, [1000,50])
df = pd.DataFrame(data)
df.tail()

     0   1   2   3   4   5   ...  44  45  46  47  48  49
995  62   0  28  41   6  43  ...  47  99  93   3  66  51
996  36  21  32  21  86  90  ...  60  28  20   1  32  72
997  98  53  38  84  50  81  ...  33  64  85  74  24  92
998  79  38  95  81  17  81  ...  38  46  22  19  48  38
999   3  26  61  67   3  66  ...  20  81   7  76  10   0

[5 rows x 50 columns]

In [65]:
pd.options.display.max_rows 
pd.options.display.max_rows =22

In [66]:
df

     0   1   2   3   4   5   ...  44  45  46  47  48  49
0    66  33  73  98  27  86  ...  20  72  25  59  51  37
1    21  83  32  80  44  22  ...   4  16   9  40  91  97
2    58  33   4  44  88  14  ...  64  57  49  40  50  38
3    65  36  79  22  82  63  ...  89  28   2   2  72  83
4    92  41  44  88  60  41  ...  15  61  15  91   5  25
..   ..  ..  ..  ..  ..  ..  ...  ..  ..  ..  ..  ..  ..
995  62   0  28  41   6  43  ...  47  99  93   3  66  51
996  36  21  32  21  86  90  ...  60  28  20   1  32  72
997  98  53  38  84  50  81  ...  33  64  85  74  24  92
998  79  38  95  81  17  81  ...  38  46  22  19  48  38
999   3  26  61  67   3  66  ...  20  81   7  76  10   0

[1000 rows x 50 columns]

In [67]:
pd.options.display.max_columns = 12

In [68]:
df

     0   1   2   3   4   5   ...  44  45  46  47  48  49
0    66  33  73  98  27  86  ...  20  72  25  59  51  37
1    21  83  32  80  44  22  ...   4  16   9  40  91  97
2    58  33   4  44  88  14  ...  64  57  49  40  50  38
3    65  36  79  22  82  63  ...  89  28   2   2  72  83
4    92  41  44  88  60  41  ...  15  61  15  91   5  25
..   ..  ..  ..  ..  ..  ..  ...  ..  ..  ..  ..  ..  ..
995  62   0  28  41   6  43  ...  47  99  93   3  66  51
996  36  21  32  21  86  90  ...  60  28  20   1  32  72
997  98  53  38  84  50  81  ...  33  64  85  74  24  92
998  79  38  95  81  17  81  ...  38  46  22  19  48  38
999   3  26  61  67   3  66  ...  20  81   7  76  10   0

[1000 rows x 50 columns]

In [69]:
pd.get_option("max_rows")

#same as above but using the methods

OptionError: Pattern matched multiple keys

In [70]:
pd.set_option("max_columns", 20)

OptionError: Pattern matched multiple keys

In [71]:
pd.reset_option("max_rows")

In [72]:
pd.get_option("max_rows")

OptionError: Pattern matched multiple keys

In [73]:
pd.describe_option("max_rows")

display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 60]
styler.render.max_rows : int, optional
    The maximum number of rows that will be rendered. May still be reduced to
    satsify ``max_elements``, which takes precedence.
    [default: None] [currently: None]

In [74]:
df = pd.DataFrame(np.random.randn(5,5))
df

          0         1         2         3         4
0 -1.259375  0.349104 -0.575530 -0.452870  0.312870
1 -1.067183 -0.383114  0.298968 -1.033884 -0.287228
2  0.656917  1.506806  0.060893 -0.479202 -0.485391
3 -0.792212  1.392538 -0.036354  0.006684  0.885997
4  0.987472  1.214383 -0.619522 -0.491613 -0.687587

In [78]:
pd.set_option("precision",2)

#  set the digits after the decimal points

OptionError: Pattern matched multiple keys