 # Import financial datset with pandas_datareader  Library

In [1]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [7]:
stocks = data.DataReader(name="MSFT", data_source="stooq", start="2010-01-01", end="2020-12-31")
stocks

                Open      High       Low     Close        Volume
Date
2020-12-31  217.8220  219.1040  215.8380  218.5280  2.131555e+07
2020-12-30  221.2770  221.6740  217.5950  217.8020  2.063381e+07
2020-12-29  222.3500  223.2140  219.6590  220.2050  1.771353e+07
2020-12-28  220.5040  222.0710  219.1230  221.0100  1.825327e+07
2020-12-24  217.5450  219.6890  217.3260  218.8550  1.073870e+07
...              ...       ...       ...       ...           ...
2010-01-08   23.7837   24.2642   23.7608   24.0934  6.515561e+07
2010-01-07   24.0537   24.1232   23.7221   23.9257  6.434577e+07
2010-01-06   24.2642   24.4230   23.9852   24.1758  7.403254e+07
2010-01-05   24.2542   24.4389   24.0765   24.3267  6.331174e+07
2010-01-04   24.0854   24.4389   24.0358   24.3178  4.886916e+07

[2769 rows x 5 columns]

In [14]:
stocks.values
stocks.columns
stocks.index
stocks.axes

[DatetimeIndex(['2020-12-31', '2020-12-30', '2020-12-29', '2020-12-28',
                '2020-12-24', '2020-12-23', '2020-12-22', '2020-12-21',
                '2020-12-18', '2020-12-17',
                ...
                '2010-01-15', '2010-01-14', '2010-01-13', '2010-01-12',
                '2010-01-11', '2010-01-08', '2010-01-07', '2010-01-06',
                '2010-01-05', '2010-01-04'],
               dtype='datetime64[ns]', name='Date', length=2769, freq=None),
 Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')]

In [15]:
stocks.loc["2020-12-31"]

Open      2.178220e+02
High      2.191040e+02
Low       2.158380e+02
Close     2.185280e+02
Volume    2.131555e+07
Name: 2020-12-31 00:00:00, dtype: float64

In [16]:
stocks.loc[pd.Timestamp("2020-12-31")]

Open      2.178220e+02
High      2.191040e+02
Low       2.158380e+02
Close     2.185280e+02
Volume    2.131555e+07
Name: 2020-12-31 00:00:00, dtype: float64

In [19]:
stocks.iloc[1]

Open      2.212770e+02
High      2.216740e+02
Low       2.175950e+02
Close     2.178020e+02
Volume    2.063381e+07
Name: 2020-12-30 00:00:00, dtype: float64

In [22]:
stocks.loc[[pd.Timestamp("2020-12-31"),pd.Timestamp("2020-12-31")]]

               Open     High      Low    Close        Volume
Date
2020-12-31  217.822  219.104  215.838  218.528  2.131555e+07
2020-12-31  217.822  219.104  215.838  218.528  2.131555e+07

In [24]:
stocks.loc["2010-12-31" : "2020-12-31"]

                Open      High       Low     Close        Volume
Date
2020-12-31  217.8220  219.1040  215.8380  218.5280  2.131555e+07
2020-12-30  221.2770  221.6740  217.5950  217.8020  2.063381e+07
2020-12-29  222.3500  223.2140  219.6590  220.2050  1.771353e+07
2020-12-28  220.5040  222.0710  219.1230  221.0100  1.825327e+07
2020-12-24  217.5450  219.6890  217.3260  218.8550  1.073870e+07
...              ...       ...       ...       ...           ...
2011-01-06   22.0533   22.6697   21.8925   22.6470  1.119821e+08
2011-01-05   21.9342   22.0106   21.8210   22.0027  7.459932e+07
2011-01-04   21.9382   22.1357   21.8845   22.0681  6.922456e+07
2011-01-03   22.0771   22.1427   21.9382   21.9837  6.800951e+07
2010-12-31   21.8458   21.9401   21.7058   21.9342  3.150006e+07

[2518 rows x 5 columns]

In [26]:
stocks.truncate(before = "2010-12-31", after = "2020-12-31" )

                Open      High       Low     Close        Volume
Date
2020-12-31  217.8220  219.1040  215.8380  218.5280  2.131555e+07
2020-12-30  221.2770  221.6740  217.5950  217.8020  2.063381e+07
2020-12-29  222.3500  223.2140  219.6590  220.2050  1.771353e+07
2020-12-28  220.5040  222.0710  219.1230  221.0100  1.825327e+07
2020-12-24  217.5450  219.6890  217.3260  218.8550  1.073870e+07
...              ...       ...       ...       ...           ...
2011-01-06   22.0533   22.6697   21.8925   22.6470  1.119821e+08
2011-01-05   21.9342   22.0106   21.8210   22.0027  7.459932e+07
2011-01-04   21.9382   22.1357   21.8845   22.0681  6.922456e+07
2011-01-03   22.0771   22.1427   21.9382   21.9837  6.800951e+07
2010-12-31   21.8458   21.9401   21.7058   21.9342  3.150006e+07

[2518 rows x 5 columns]

In [28]:
my_bday = pd.date_range(start = "1998-05-15", end = "2022-12-22", freq =pd.DateOffset(years = 1))

In [30]:
bday_stocks=stocks.index.isin(my_bday)

In [32]:
stocks[bday_stocks]
stocks.loc[bday_stocks]

                Open      High       Low     Close        Volume
Date
2020-05-15  174.5470  182.3410  172.5530  178.5390  4.781347e+07
2019-05-15  119.9960  122.3490  119.4590  121.7030  2.560161e+07
2018-05-15   92.0026   92.5803   91.1518   92.0810  2.599409e+07
2017-05-15   63.1458   63.4645   62.6216   63.4169  3.340966e+07
2015-05-15   42.9838   42.9838   42.2352   42.4476  3.258566e+07
2014-05-15   34.5541   34.8213   34.0538   34.1312  4.384713e+07
2013-05-15   28.0069   28.3842   27.9900   28.3425  5.531089e+07
2012-05-15   24.8945   25.0236   24.4976   24.5432  7.609608e+07

# Timestamp object attributes and methods

In [34]:
stocks = data.DataReader(name="MSFT", data_source="stooq", start="2010-01-01", end="2020-12-31")
stocks.head()

               Open     High      Low    Close        Volume
Date
2020-12-31  217.822  219.104  215.838  218.528  2.131555e+07
2020-12-30  221.277  221.674  217.595  217.802  2.063381e+07
2020-12-29  222.350  223.214  219.659  220.205  1.771353e+07
2020-12-28  220.504  222.071  219.123  221.010  1.825327e+07
2020-12-24  217.545  219.689  217.326  218.855  1.073870e+07

In [35]:
stocks.index

DatetimeIndex(['2020-12-31', '2020-12-30', '2020-12-29', '2020-12-28',
               '2020-12-24', '2020-12-23', '2020-12-22', '2020-12-21',
               '2020-12-18', '2020-12-17',
               ...
               '2010-01-15', '2010-01-14', '2010-01-13', '2010-01-12',
               '2010-01-11', '2010-01-08', '2010-01-07', '2010-01-06',
               '2010-01-05', '2010-01-04'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [37]:
someday = stocks.index[522]
someday

Timestamp('2018-12-04 00:00:00')

In [42]:
someday.month
someday.week
someday.is_month_end
someday.is_quarter_end
someday.day

4

In [44]:
someday.month_name()

'December'

In [48]:
someday.day_name()

'Tuesday'

In [49]:
stocks.index.day_name()

Index(['Thursday', 'Wednesday', 'Tuesday', 'Monday', 'Thursday', 'Wednesday',
       'Tuesday', 'Monday', 'Friday', 'Thursday',
       ...
       'Friday', 'Thursday', 'Wednesday', 'Tuesday', 'Monday', 'Friday',
       'Thursday', 'Wednesday', 'Tuesday', 'Monday'],
      dtype='object', name='Date', length=2769)

In [52]:
stocks.insert(0, "Day of Week", stocks.index.day_name())

ValueError: cannot insert Day of Week, already exists

In [53]:
stocks

           Day of Week      Open      High       Low     Close        Volume
Date
2020-12-31    Thursday  217.8220  219.1040  215.8380  218.5280  2.131555e+07
2020-12-30   Wednesday  221.2770  221.6740  217.5950  217.8020  2.063381e+07
2020-12-29     Tuesday  222.3500  223.2140  219.6590  220.2050  1.771353e+07
2020-12-28      Monday  220.5040  222.0710  219.1230  221.0100  1.825327e+07
2020-12-24    Thursday  217.5450  219.6890  217.3260  218.8550  1.073870e+07
...                ...       ...       ...       ...       ...           ...
2010-01-08      Friday   23.7837   24.2642   23.7608   24.0934  6.515561e+07
2010-01-07    Thursday   24.0537   24.1232   23.7221   23.9257  6.434577e+07
2010-01-06   Wednesday   24.2642   24.4230   23.9852   24.1758  7.403254e+07
2010-01-05     Tuesday   24.2542   24.4389   24.0765   24.3267  6.331174e+07
2010-01-04      Monday   24.0854   24.4389   24.0358   24.3178  4.886916e+07

[2769 rows x 6 columns]

In [55]:
stocks.insert(0, "Start of the month", stocks.index.is_month_start)

ValueError: cannot insert Start of the month, already exists

In [58]:
stocks

,Start of the month,Day of Week,Open,High,Low,Close,Volume
Date,,,,,,,
2020-12-31,False,Thursday,217.8220,219.1040,215.8380,218.5280,2.131555e+07
2020-12-30,False,Wednesday,221.2770,221.6740,217.5950,217.8020,2.063381e+07
2020-12-29,False,Tuesday,222.3500,223.2140,219.6590,220.2050,1.771353e+07
2020-12-28,False,Monday,220.5040,222.0710,219.1230,221.0100,1.825327e+07
2020-12-24,False,Thursday,217.5450,219.6890,217.3260,218.8550,1.073870e+07
...,...,...,...,...,...,...,...
2010-01-08,False,Friday,23.7837,24.2642,23.7608,24.0934,6.515561e+07
2010-01-07,False,Thursday,24.0537,24.1232,23.7221,23.9257,6.434577e+07
2010-01-06,False,Wednesday,24.2642,24.4230,23.9852,24.1758,7.403254e+07
2010-01-05,False,Tuesday,24.2542,24.4389,24.0765,24.3267,6.331174e+07
2010-01-04,False,Monday,24.0854,24.4389,24.0358,24.3178,4.886916e+07

In [61]:
stocks[stocks["Start of the month"]]

,Start of the month,Day of Week,Open,High,Low,Close,Volume
Date,,,,,,,
2020-12-01,True,Tuesday,210.7540,213.5230,209.6020,212.4220,3.148286e+07
2020-10-01,True,Thursday,209.1950,209.6820,207.0900,208.2030,2.771505e+07
2020-09-01,True,Tuesday,220.9700,222.8960,219.9170,222.7170,2.631985e+07
2020-07-01,True,Wednesday,198.5920,201.7210,197.2420,200.1020,3.279741e+07
2020-06-01,True,Monday,178.4290,178.8860,177.3870,178.7180,2.318935e+07
...,...,...,...,...,...,...,...
2010-07-01,True,Thursday,18.1428,18.3235,17.8589,18.1964,1.173523e+08
2010-06-01,True,Tuesday,20.0906,20.6763,20.0559,20.3438,9.687786e+07
2010-04-01,True,Thursday,23.0619,23.2089,22.4861,22.9120,9.513903e+07
2010-03-01,True,Monday,22.6053,22.8277,22.4196,22.8048,5.570803e+07
2010-02-01,True,Monday,22.3144,22.3809,21.9382,22.3234,1.092082e+08

In [62]:
# pd.DateOffset object

stocks = data.DataReader(name="MSFT", data_source="stooq", start="2010-01-01", end="2020-12-31")
stocks.head()

               Open     High      Low    Close        Volume
Date
2020-12-31  217.822  219.104  215.838  218.528  2.131555e+07
2020-12-30  221.277  221.674  217.595  217.802  2.063381e+07
2020-12-29  222.350  223.214  219.659  220.205  1.771353e+07
2020-12-28  220.504  222.071  219.123  221.010  1.825327e+07
2020-12-24  217.545  219.689  217.326  218.855  1.073870e+07

In [63]:
stocks.index + pd.DateOffset(days = 5)

DatetimeIndex(['2021-01-05', '2021-01-04', '2021-01-03', '2021-01-02',
               '2020-12-29', '2020-12-28', '2020-12-27', '2020-12-26',
               '2020-12-23', '2020-12-22',
               ...
               '2010-01-20', '2010-01-19', '2010-01-18', '2010-01-17',
               '2010-01-16', '2010-01-13', '2010-01-12', '2010-01-11',
               '2010-01-10', '2010-01-09'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [65]:
stocks.index + pd.DateOffset(weeks = 2)

DatetimeIndex(['2021-01-14', '2021-01-13', '2021-01-12', '2021-01-11',
               '2021-01-07', '2021-01-06', '2021-01-05', '2021-01-04',
               '2021-01-01', '2020-12-31',
               ...
               '2010-01-29', '2010-01-28', '2010-01-27', '2010-01-26',
               '2010-01-25', '2010-01-22', '2010-01-21', '2010-01-20',
               '2010-01-19', '2010-01-18'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [67]:
stocks.index - pd.DateOffset(weeks = 3)

DatetimeIndex(['2020-12-10', '2020-12-09', '2020-12-08', '2020-12-07',
               '2020-12-03', '2020-12-02', '2020-12-01', '2020-11-30',
               '2020-11-27', '2020-11-26',
               ...
               '2009-12-25', '2009-12-24', '2009-12-23', '2009-12-22',
               '2009-12-21', '2009-12-18', '2009-12-17', '2009-12-16',
               '2009-12-15', '2009-12-14'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [74]:
stocks.index - pd.DateOffset(months = 2)

stocks.index + pd.DateOffset(years = 2)
stocks.index + pd.DateOffset(years =1,months=2,days=5,hours = 2,minutes = 12,seconds=55)
stocks.index - pd.DateOffset(years =1,months=2,days=5,hours = 2,minutes = 12,seconds=55)

DatetimeIndex(['2019-10-25 21:47:05', '2019-10-24 21:47:05',
               '2019-10-23 21:47:05', '2019-10-22 21:47:05',
               '2019-10-18 21:47:05', '2019-10-17 21:47:05',
               '2019-10-16 21:47:05', '2019-10-15 21:47:05',
               '2019-10-12 21:47:05', '2019-10-11 21:47:05',
               ...
               '2008-11-09 21:47:05', '2008-11-08 21:47:05',
               '2008-11-07 21:47:05', '2008-11-06 21:47:05',
               '2008-11-05 21:47:05', '2008-11-02 21:47:05',
               '2008-11-01 21:47:05', '2008-10-31 21:47:05',
               '2008-10-30 21:47:05', '2008-10-29 21:47:05'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

# Timeseries offset

In [75]:
stocks = data.DataReader(name="MSFT", data_source="stooq", start="2010-01-01", end="2020-12-31")
stocks.head()

               Open     High      Low    Close        Volume
Date
2020-12-31  217.822  219.104  215.838  218.528  2.131555e+07
2020-12-30  221.277  221.674  217.595  217.802  2.063381e+07
2020-12-29  222.350  223.214  219.659  220.205  1.771353e+07
2020-12-28  220.504  222.071  219.123  221.010  1.825327e+07
2020-12-24  217.545  219.689  217.326  218.855  1.073870e+07

In [ ]:
#  to add dynamic amount of days to datetimes

In [76]:
stocks.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2021-01-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31',
               ...
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [77]:
stocks.index - pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30',
               ...
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [78]:
stocks.index + pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01',
               ...
               '2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [79]:
# Import the library (shortcut)

from pandas.tseries import offsets

In [80]:
stocks.index + offsets.MonthBegin()

DatetimeIndex(['2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01',
               ...
               '2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [81]:
stocks.index + offsets.BMonthBegin()

DatetimeIndex(['2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01',
               ...
               '2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [82]:
stocks.index + pd.tseries.offsets.YearEnd()

DatetimeIndex(['2021-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31',
               ...
               '2010-12-31', '2010-12-31', '2010-12-31', '2010-12-31',
               '2010-12-31', '2010-12-31', '2010-12-31', '2010-12-31',
               '2010-12-31', '2010-12-31'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [84]:
stocks.index - pd.tseries.offsets.BDay()

DatetimeIndex(['2020-12-30', '2020-12-29', '2020-12-28', '2020-12-25',
               '2020-12-23', '2020-12-22', '2020-12-21', '2020-12-18',
               '2020-12-17', '2020-12-16',
               ...
               '2010-01-14', '2010-01-13', '2010-01-12', '2010-01-11',
               '2010-01-08', '2010-01-07', '2010-01-06', '2010-01-05',
               '2010-01-04', '2010-01-01'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

# Timedelta object

In [89]:
time_a = pd.Timestamp("2017-12-31")
time_b = pd.Timestamp("2017-1-1")

time_a - time_b

Timedelta('364 days 00:00:00')

In [90]:
time_a = pd.Timestamp("2017-12-31 04:05:33PM")
time_b = pd.Timestamp("2017-1-1 08:05:55PM")

time_a - time_b

Timedelta('363 days 19:59:38')

In [91]:
time_b - time_a

Timedelta('-364 days +04:00:22')

In [94]:
time_a + pd.Timedelta(days = 3)

Timedelta('6 days 00:00:00')

In [95]:
 pd.Timedelta(days = 3, minutes = 22, seconds =55)

Timedelta('3 days 00:22:55')

In [96]:
 pd.Timedelta(weeks =22, days = 3, minutes = 55, seconds = 58)

Timedelta('157 days 00:55:58')

In [97]:
 pd.Timedelta(days = 3, hours = 5,minutes = 22, seconds =55)

Timedelta('3 days 05:22:55')

In [98]:
 pd.Timedelta("6 hours 5 minutes")

Timedelta('0 days 06:05:00')

In [103]:
 pd.Timedelta(" 44 days 6 hours 5 minutes 2 seconds")

Timedelta('44 days 06:05:02')

# Timedelta ON A DATASET

In [109]:
ship = pd.read_csv("ecommerce.csv", index_col="ID", parse_dates=["order_date", "delivery_date"])
ship.head()

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26
5  1992-07-21    1997-11-20
7  1993-09-02    1998-06-10

In [113]:
ship["Delivery Time"]=ship["delivery_date"] - ship["order_date"]

In [118]:
ship =ship.drop("DElivery Time", axis =1)

In [119]:
ship.head()

   order_date delivery_date Delivery Time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days
5  1992-07-21    1997-11-20     1948 days
7  1993-09-02    1998-06-10     1742 days

In [120]:
ship["delivery_date"] + ship["Delivery Time"]

ID
1     1999-10-20
2     2004-01-18
4     1994-03-12
5     2003-03-22
7     2003-03-18
         ...
990   2000-09-12
991   2004-10-18
993   2005-10-06
994   1993-06-23
997   1993-07-01
Length: 501, dtype: datetime64[ns]

In [121]:
ship["delivery_date"] - ship["Delivery Time"]

ID
1     1998-05-24
2     1992-04-22
4     1991-02-10
5     1992-07-21
7     1993-09-02
         ...
990   1991-06-24
991   1991-09-09
993   1990-11-16
994   1993-06-03
997   1990-01-04
Length: 501, dtype: datetime64[ns]

In [122]:
ship["Twice time"] = ship["delivery_date"] + ship["Delivery Time"]

In [123]:
ship

    order_date delivery_date Delivery Time Twice time
ID
1   1998-05-24    1999-02-05      257 days 1999-10-20
2   1992-04-22    1998-03-06     2144 days 2004-01-18
4   1991-02-10    1992-08-26      563 days 1994-03-12
5   1992-07-21    1997-11-20     1948 days 2003-03-22
7   1993-09-02    1998-06-10     1742 days 2003-03-18
..         ...           ...           ...        ...
990 1991-06-24    1996-02-02     1684 days 2000-09-12
991 1991-09-09    1998-03-30     2394 days 2004-10-18
993 1990-11-16    1998-04-27     2719 days 2005-10-06
994 1993-06-03    1993-06-13       10 days 1993-06-23
997 1990-01-04    1991-10-03      637 days 1993-07-01

[501 rows x 4 columns]

In [129]:
mask = ship["Delivery Time"] > "365 days"
ship[mask]

    order_date delivery_date Delivery Time Twice time
ID
2   1992-04-22    1998-03-06     2144 days 2004-01-18
4   1991-02-10    1992-08-26      563 days 1994-03-12
5   1992-07-21    1997-11-20     1948 days 2003-03-22
7   1993-09-02    1998-06-10     1742 days 2003-03-18
9   1990-01-25    1994-10-02     1711 days 1999-06-09
..         ...           ...           ...        ...
986 1990-12-10    1992-12-16      737 days 1994-12-23
990 1991-06-24    1996-02-02     1684 days 2000-09-12
991 1991-09-09    1998-03-30     2394 days 2004-10-18
993 1990-11-16    1998-04-27     2719 days 2005-10-06
997 1990-01-04    1991-10-03      637 days 1993-07-01

[394 rows x 4 columns]

In [132]:
ship["Delivery Time"].max()

Timedelta('3583 days 00:00:00')

In [133]:
ship["Delivery Time"].min()

Timedelta('8 days 00:00:00')