In [7]:
import pandas as pd
import datetime as dt

In [9]:
day = dt.date(1998,5,15)

In [12]:
day.day
day.month
day.year

1998

In [15]:
dt.datetime(2016,5,15,8,13,5)

datetime.datetime(2016, 5, 15, 8, 13, 5)

In [16]:
str(dt.datetime(2016,5,15,8,13,5))

'2016-05-15 08:13:05'

In [17]:
str(day)

'1998-05-15'

In [18]:
tym =dt.datetime(2016,5,15,8,13,5)

In [26]:
tym.date
tym.day
tym.year
tym.min
tym.second
tym.hour

8

In [33]:
#  Timestamp object

pd.Timestamp("2015-05-23")
pd.Timestamp("2015/05/23")
pd.Timestamp("1/1/2033")
pd.Timestamp("12/19/2002")
pd.Timestamp("2015-05-23 8:25:55")
pd.Timestamp("2015-05-23 8:25:55 PM")

Timestamp('2015-05-23 20:25:55')

In [34]:
pd.Timestamp(dt.date(2015,2,1))

Timestamp('2015-02-01 00:00:00')

In [35]:
pd.Timestamp(dt.datetime(2015,2,1,5,22,44))

Timestamp('2015-02-01 05:22:44')

In [37]:
#  DateTimeIndex Object
dates = ["2000-05-14", "2014-9-8"]
pd.DatetimeIndex(dates)

# Converts the dates from string to datetimeindex which can be used to create indexes for series or dataframes.

DatetimeIndex(['2000-05-14', '2014-09-08'], dtype='datetime64[ns]', freq=None)

In [39]:
dates = [dt.date(2000,5,1),dt.date(2009,5,1),dt.date(2007,5,21)]
pd.DatetimeIndex(dates)

DatetimeIndex(['2000-05-01', '2009-05-01', '2007-05-21'], dtype='datetime64[ns]', freq=None)

In [41]:
# Create a series with values and index given above

dtindex = pd.DatetimeIndex(dates)
values = [100,200,300]

pd.Series(data = values, index = dtindex)

2000-05-01    100
2009-05-01    200
2007-05-21    300
dtype: int64

In [54]:
#  pd.to_datetime() Method

pd.to_datetime("2010-05-12")
pd.to_datetime(dt.date(2015,2,15))
pd.to_datetime(dt.datetime(2011,2,1,23,55,22))
pd.to_datetime(["2015-05-22", "2015/5/3","June 4th, 1998","2022"])

DatetimeIndex(['2015-05-22', '2015-05-03', '1998-06-04', '2022-01-01'], dtype='datetime64[ns]', freq=None)

In [56]:
times = pd.Series(["2015-05-22", "2015/5/3","June 4th, 1998","2022"])

In [57]:
times

0        2015-05-22
1          2015/5/3
2    June 4th, 1998
3              2022
dtype: object

In [58]:
pd.to_datetime(times)

0   2015-05-22
1   2015-05-03
2   1998-06-04
3   2022-01-01
dtype: datetime64[ns]

In [62]:
dates = pd.Series(["July 4th,2015","Hello","2019-8-5","2015/02/31"])
dates

0    July 4th,2015
1            Hello
2         2019-8-5
3       2015/02/31
dtype: object

In [66]:
pd.to_datetime(dates, errors = "coerce")

0   2015-07-04
1          NaT
2   2019-08-05
3          NaT
dtype: datetime64[ns]

In [67]:
# NaT -------> Not a Time

In [70]:
pd.to_datetime([1678870071,1679073553,1679419151], unit = 's')

# Unix Timestamps

DatetimeIndex(['2023-03-15 08:47:51', '2023-03-17 17:19:13',
               '2023-03-21 17:19:11'],
              dtype='datetime64[ns]', freq=None)

In [72]:
# pd.date_range() Method

tt = pd.date_range(start = "2016-1-1", end = "2016-1-10", freq = "D")
tt

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [76]:
pd.date_range(start = "2016-1-1", end = "2016-1-10", freq = "2D")
pd.date_range(start = "2016-1-1", end = "2016-1-10", freq = "B")

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')

In [85]:
pd.date_range(start = "2016-1-1", end = "2016-1-10", freq = "W")

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

In [86]:
#  W-SUN  sunday,
# B -- Business day
# W=week
# M Month
# MS Month Start
# H Hour
# A last day of each year

In [88]:
pd.date_range(start = "2016-1-1", end = "2016-1-10", freq = "W-FRI")

DatetimeIndex(['2016-01-01', '2016-01-08'], dtype='datetime64[ns]', freq='W-FRI')

In [91]:
pd.date_range(start = "2016-1-1", end = "2016-1-10", freq = "H")

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00',
               '2016-01-01 06:00:00', '2016-01-01 07:00:00',
               '2016-01-01 08:00:00', '2016-01-01 09:00:00',
               ...
               '2016-01-09 15:00:00', '2016-01-09 16:00:00',
               '2016-01-09 17:00:00', '2016-01-09 18:00:00',
               '2016-01-09 19:00:00', '2016-01-09 20:00:00',
               '2016-01-09 21:00:00', '2016-01-09 22:00:00',
               '2016-01-09 23:00:00', '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', length=217, freq='H')

In [93]:
pd.date_range(start = "2016-1-1", end = "2016-1-10", freq = "6H")

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 06:00:00',
               '2016-01-01 12:00:00', '2016-01-01 18:00:00',
               '2016-01-02 00:00:00', '2016-01-02 06:00:00',
               '2016-01-02 12:00:00', '2016-01-02 18:00:00',
               '2016-01-03 00:00:00', '2016-01-03 06:00:00',
               '2016-01-03 12:00:00', '2016-01-03 18:00:00',
               '2016-01-04 00:00:00', '2016-01-04 06:00:00',
               '2016-01-04 12:00:00', '2016-01-04 18:00:00',
               '2016-01-05 00:00:00', '2016-01-05 06:00:00',
               '2016-01-05 12:00:00', '2016-01-05 18:00:00',
               '2016-01-06 00:00:00', '2016-01-06 06:00:00',
               '2016-01-06 12:00:00', '2016-01-06 18:00:00',
               '2016-01-07 00:00:00', '2016-01-07 06:00:00',
               '2016-01-07 12:00:00', '2016-01-07 18:00:00',
               '2016-01-08 00:00:00', '2016-01-08 06:00:00',
               '2016-01-08 12:00:00', '2016-01-08 18:00:00',
               '2016-01-09 00:00:00', '2016-01-09 06:00:00',
               '2016-01-09 12:00:00', '2016-01-09 18:00:00',
               '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [97]:
pd.date_range(start = "2016-1-1", end = "2016-1-31", freq = "M")

DatetimeIndex(['2016-01-31'], dtype='datetime64[ns]', freq='M')

In [98]:
pd.date_range(start = "2016-1-1", end = "2016-1-31", freq = "MS")

DatetimeIndex(['2016-01-01'], dtype='datetime64[ns]', freq='MS')

In [99]:
pd.date_range(start = "2016-1-1", end = "2050-1-31", freq = "A")

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [100]:
pd.date_range(start = "2016-9-9", periods=25, freq ="D")

# Gives 25 dates 1 day apart

DatetimeIndex(['2016-09-09', '2016-09-10', '2016-09-11', '2016-09-12',
               '2016-09-13', '2016-09-14', '2016-09-15', '2016-09-16',
               '2016-09-17', '2016-09-18', '2016-09-19', '2016-09-20',
               '2016-09-21', '2016-09-22', '2016-09-23', '2016-09-24',
               '2016-09-25', '2016-09-26', '2016-09-27', '2016-09-28',
               '2016-09-29', '2016-09-30', '2016-10-01', '2016-10-02',
               '2016-10-03'],
              dtype='datetime64[ns]', freq='D')

In [101]:
pd.date_range(start = "2016-9-9", periods=50, freq ="B")

# Gives 50 business days(Skip sat and sun)

DatetimeIndex(['2016-09-09', '2016-09-12', '2016-09-13', '2016-09-14',
               '2016-09-15', '2016-09-16', '2016-09-19', '2016-09-20',
               '2016-09-21', '2016-09-22', '2016-09-23', '2016-09-26',
               '2016-09-27', '2016-09-28', '2016-09-29', '2016-09-30',
               '2016-10-03', '2016-10-04', '2016-10-05', '2016-10-06',
               '2016-10-07', '2016-10-10', '2016-10-11', '2016-10-12',
               '2016-10-13', '2016-10-14', '2016-10-17', '2016-10-18',
               '2016-10-19', '2016-10-20', '2016-10-21', '2016-10-24',
               '2016-10-25', '2016-10-26', '2016-10-27', '2016-10-28',
               '2016-10-31', '2016-11-01', '2016-11-02', '2016-11-03',
               '2016-11-04', '2016-11-07', '2016-11-08', '2016-11-09',
               '2016-11-10', '2016-11-11', '2016-11-14', '2016-11-15',
               '2016-11-16', '2016-11-17'],
              dtype='datetime64[ns]', freq='B')

In [103]:
pd.date_range(start = "2016-9-9", periods=45, freq ="W")

DatetimeIndex(['2016-09-11', '2016-09-18', '2016-09-25', '2016-10-02',
               '2016-10-09', '2016-10-16', '2016-10-23', '2016-10-30',
               '2016-11-06', '2016-11-13', '2016-11-20', '2016-11-27',
               '2016-12-04', '2016-12-11', '2016-12-18', '2016-12-25',
               '2017-01-01', '2017-01-08', '2017-01-15', '2017-01-22',
               '2017-01-29', '2017-02-05', '2017-02-12', '2017-02-19',
               '2017-02-26', '2017-03-05', '2017-03-12', '2017-03-19',
               '2017-03-26', '2017-04-02', '2017-04-09', '2017-04-16',
               '2017-04-23', '2017-04-30', '2017-05-07', '2017-05-14',
               '2017-05-21', '2017-05-28', '2017-06-04', '2017-06-11',
               '2017-06-18', '2017-06-25', '2017-07-02', '2017-07-09',
               '2017-07-16'],
              dtype='datetime64[ns]', freq='W-SUN')

In [105]:
pd.date_range(start = "2018-9-9", periods=25, freq ="W-TUE")

DatetimeIndex(['2018-09-11', '2018-09-18', '2018-09-25', '2018-10-02',
               '2018-10-09', '2018-10-16', '2018-10-23', '2018-10-30',
               '2018-11-06', '2018-11-13', '2018-11-20', '2018-11-27',
               '2018-12-04', '2018-12-11', '2018-12-18', '2018-12-25',
               '2019-01-01', '2019-01-08', '2019-01-15', '2019-01-22',
               '2019-01-29', '2019-02-05', '2019-02-12', '2019-02-19',
               '2019-02-26'],
              dtype='datetime64[ns]', freq='W-TUE')

In [106]:
pd.date_range(start = "2016-9-9", periods=25, freq ="7H")

DatetimeIndex(['2016-09-09 00:00:00', '2016-09-09 07:00:00',
               '2016-09-09 14:00:00', '2016-09-09 21:00:00',
               '2016-09-10 04:00:00', '2016-09-10 11:00:00',
               '2016-09-10 18:00:00', '2016-09-11 01:00:00',
               '2016-09-11 08:00:00', '2016-09-11 15:00:00',
               '2016-09-11 22:00:00', '2016-09-12 05:00:00',
               '2016-09-12 12:00:00', '2016-09-12 19:00:00',
               '2016-09-13 02:00:00', '2016-09-13 09:00:00',
               '2016-09-13 16:00:00', '2016-09-13 23:00:00',
               '2016-09-14 06:00:00', '2016-09-14 13:00:00',
               '2016-09-14 20:00:00', '2016-09-15 03:00:00',
               '2016-09-15 10:00:00', '2016-09-15 17:00:00',
               '2016-09-16 00:00:00'],
              dtype='datetime64[ns]', freq='7H')

In [108]:
pd.date_range(end = " 1998-2-15", periods = 40, freq = "D")

DatetimeIndex(['1998-01-07', '1998-01-08', '1998-01-09', '1998-01-10',
               '1998-01-11', '1998-01-12', '1998-01-13', '1998-01-14',
               '1998-01-15', '1998-01-16', '1998-01-17', '1998-01-18',
               '1998-01-19', '1998-01-20', '1998-01-21', '1998-01-22',
               '1998-01-23', '1998-01-24', '1998-01-25', '1998-01-26',
               '1998-01-27', '1998-01-28', '1998-01-29', '1998-01-30',
               '1998-01-31', '1998-02-01', '1998-02-02', '1998-02-03',
               '1998-02-04', '1998-02-05', '1998-02-06', '1998-02-07',
               '1998-02-08', '1998-02-09', '1998-02-10', '1998-02-11',
               '1998-02-12', '1998-02-13', '1998-02-14', '1998-02-15'],
              dtype='datetime64[ns]', freq='D')

In [109]:
pd.date_range(end = " 1998-2-15", periods = 40, freq = "B")

DatetimeIndex(['1997-12-22', '1997-12-23', '1997-12-24', '1997-12-25',
               '1997-12-26', '1997-12-29', '1997-12-30', '1997-12-31',
               '1998-01-01', '1998-01-02', '1998-01-05', '1998-01-06',
               '1998-01-07', '1998-01-08', '1998-01-09', '1998-01-12',
               '1998-01-13', '1998-01-14', '1998-01-15', '1998-01-16',
               '1998-01-19', '1998-01-20', '1998-01-21', '1998-01-22',
               '1998-01-23', '1998-01-26', '1998-01-27', '1998-01-28',
               '1998-01-29', '1998-01-30', '1998-02-02', '1998-02-03',
               '1998-02-04', '1998-02-05', '1998-02-06', '1998-02-09',
               '1998-02-10', '1998-02-11', '1998-02-12', '1998-02-13'],
              dtype='datetime64[ns]', freq='B')

In [110]:
pd.date_range(end = " 1998-2-15", periods = 40, freq = "W-SAT")

DatetimeIndex(['1997-05-17', '1997-05-24', '1997-05-31', '1997-06-07',
               '1997-06-14', '1997-06-21', '1997-06-28', '1997-07-05',
               '1997-07-12', '1997-07-19', '1997-07-26', '1997-08-02',
               '1997-08-09', '1997-08-16', '1997-08-23', '1997-08-30',
               '1997-09-06', '1997-09-13', '1997-09-20', '1997-09-27',
               '1997-10-04', '1997-10-11', '1997-10-18', '1997-10-25',
               '1997-11-01', '1997-11-08', '1997-11-15', '1997-11-22',
               '1997-11-29', '1997-12-06', '1997-12-13', '1997-12-20',
               '1997-12-27', '1998-01-03', '1998-01-10', '1998-01-17',
               '1998-01-24', '1998-01-31', '1998-02-07', '1998-02-14'],
              dtype='datetime64[ns]', freq='W-SAT')

In [111]:
pd.date_range(end = " 1998-2-15", periods = 40, freq = "M")

DatetimeIndex(['1994-10-31', '1994-11-30', '1994-12-31', '1995-01-31',
               '1995-02-28', '1995-03-31', '1995-04-30', '1995-05-31',
               '1995-06-30', '1995-07-31', '1995-08-31', '1995-09-30',
               '1995-10-31', '1995-11-30', '1995-12-31', '1996-01-31',
               '1996-02-29', '1996-03-31', '1996-04-30', '1996-05-31',
               '1996-06-30', '1996-07-31', '1996-08-31', '1996-09-30',
               '1996-10-31', '1996-11-30', '1996-12-31', '1997-01-31',
               '1997-02-28', '1997-03-31', '1997-04-30', '1997-05-31',
               '1997-06-30', '1997-07-31', '1997-08-31', '1997-09-30',
               '1997-10-31', '1997-11-30', '1997-12-31', '1998-01-31'],
              dtype='datetime64[ns]', freq='M')

In [114]:
pd.date_range(end = " 1998-2-1", periods = 22, freq = "MS")

DatetimeIndex(['1996-05-01', '1996-06-01', '1996-07-01', '1996-08-01',
               '1996-09-01', '1996-10-01', '1996-11-01', '1996-12-01',
               '1997-01-01', '1997-02-01', '1997-03-01', '1997-04-01',
               '1997-05-01', '1997-06-01', '1997-07-01', '1997-08-01',
               '1997-09-01', '1997-10-01', '1997-11-01', '1997-12-01',
               '1998-01-01', '1998-02-01'],
              dtype='datetime64[ns]', freq='MS')

In [115]:
pd.date_range(end = " 1998-2-1", periods = 40, freq = "4H")

DatetimeIndex(['1998-01-25 12:00:00', '1998-01-25 16:00:00',
               '1998-01-25 20:00:00', '1998-01-26 00:00:00',
               '1998-01-26 04:00:00', '1998-01-26 08:00:00',
               '1998-01-26 12:00:00', '1998-01-26 16:00:00',
               '1998-01-26 20:00:00', '1998-01-27 00:00:00',
               '1998-01-27 04:00:00', '1998-01-27 08:00:00',
               '1998-01-27 12:00:00', '1998-01-27 16:00:00',
               '1998-01-27 20:00:00', '1998-01-28 00:00:00',
               '1998-01-28 04:00:00', '1998-01-28 08:00:00',
               '1998-01-28 12:00:00', '1998-01-28 16:00:00',
               '1998-01-28 20:00:00', '1998-01-29 00:00:00',
               '1998-01-29 04:00:00', '1998-01-29 08:00:00',
               '1998-01-29 12:00:00', '1998-01-29 16:00:00',
               '1998-01-29 20:00:00', '1998-01-30 00:00:00',
               '1998-01-30 04:00:00', '1998-01-30 08:00:00',
               '1998-01-30 12:00:00', '1998-01-30 16:00:00',
               '1998-01-30 20:00:00', '1998-01-31 00:00:00',
               '1998-01-31 04:00:00', '1998-01-31 08:00:00',
               '1998-01-31 12:00:00', '1998-01-31 16:00:00',
               '1998-01-31 20:00:00', '1998-02-01 00:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [118]:
# .dt Accessor


bunch = pd.date_range(start="2015-1-1",end="2022-5-2",freq="24D")
bunch

DatetimeIndex(['2015-01-01', '2015-01-25', '2015-02-18', '2015-03-14',
               '2015-04-07', '2015-05-01', '2015-05-25', '2015-06-18',
               '2015-07-12', '2015-08-05',
               ...
               '2021-09-14', '2021-10-08', '2021-11-01', '2021-11-25',
               '2021-12-19', '2022-01-12', '2022-02-05', '2022-03-01',
               '2022-03-25', '2022-04-18'],
              dtype='datetime64[ns]', length=112, freq='24D')

In [121]:
s = pd.Series(bunch)
s.head

<bound method NDFrame.head of 0     2015-01-01
1     2015-01-25
2     2015-02-18
3     2015-03-14
4     2015-04-07
         ...
107   2022-01-12
108   2022-02-05
109   2022-03-01
110   2022-03-25
111   2022-04-18
Length: 112, dtype: datetime64[ns]>

In [122]:
s.dt

In [123]:
s.dt.day

0       1
1      25
2      18
3      14
4       7
       ..
107    12
108     5
109     1
110    25
111    18
Length: 112, dtype: int64

In [126]:
s.dt.dayofweek

0      3
1      6
2      2
3      5
4      1
      ..
107    2
108    5
109    1
110    4
111    0
Length: 112, dtype: int64

In [133]:
s.dt.isocalendar()

     year  week  day
0    2015     1    4
1    2015     4    7
2    2015     8    3
3    2015    11    6
4    2015    15    2
..    ...   ...  ...
107  2022     2    3
108  2022     5    6
109  2022     9    2
110  2022    12    5
111  2022    16    1

[112 rows x 3 columns]

In [135]:
s[s.dt.is_quarter_start]

0    2015-01-01
19   2016-04-01
38   2017-07-01
dtype: datetime64[ns]

In [136]:
s[s.dt.is_leap_year]

16   2016-01-20
17   2016-02-13
18   2016-03-08
19   2016-04-01
20   2016-04-25
21   2016-05-19
22   2016-06-12
23   2016-07-06
24   2016-07-30
25   2016-08-23
26   2016-09-16
27   2016-10-10
28   2016-11-03
29   2016-11-27
30   2016-12-21
77   2020-01-23
78   2020-02-16
79   2020-03-11
80   2020-04-04
81   2020-04-28
82   2020-05-22
83   2020-06-15
84   2020-07-09
85   2020-08-02
86   2020-08-26
87   2020-09-19
88   2020-10-13
89   2020-11-06
90   2020-11-30
91   2020-12-24
dtype: datetime64[ns]